@{
    var totalTour = 7;
}
<script>
    var TotalTour = @totalTour;
</script>

<div id="tour-container" style="display: none">
    <div id="tour-div-1">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">[[[Visualize]]]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    [[[Drag and drop widgets to better illustrate information.]]]
                </div>
            </div>
            <div class="tour-footer col-xs-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">1/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="next-nav">[[[NEXT]]]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="tour-div-2">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">[[[Connect]]]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    [[[Connect to a new data source available online or use an existing data source available on the server.]]]
                </div>
            </div>
            <div class="tour-footer col-xs-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">2/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="prev-nav">[[[PREV]]]</span>
                    <span class="next-nav">[[[NEXT]]]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="tour-div-3">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">[[[Configure]]]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    [[[Configure the widgets to provide appropriate data views.]]]
                </div>
            </div>
            <div class="tour-footer col-xs-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">3/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="prev-nav">[[[PREV]]]</span>
                    <span class="next-nav">[[[NEXT]]]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="tour-div-4">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">[[[Customize]]]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    [[[Customize the parameters for the report.]]]
                </div>
            </div>
            <div class="tour-footer col-xs-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">4/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="prev-nav">[[[PREV]]]</span>
                    <span class="next-nav">[[[NEXT]]]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="tour-div-5">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">[[[Image Manager]]]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    [[[Customize the images in the report.]]]
                </div>
            </div>
            <div class="tour-footer col-xs-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">5/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="prev-nav">[[[PREV]]]</span>
                    <span class="next-nav">[[[NEXT]]]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="tour-div-6">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">[[[Preview]]]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    [[[Preview the created report.]]]
                </div>
            </div>
            <div class="tour-footer col-xs-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">6/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="prev-nav">[[[PREV]]]</span>
                    <span class="next-nav">[[[NEXT]]]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="tour-div-7">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">[[[Publish]]]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    [[[Publish the report to share it with others.]]]
                </div>
            </div>
            <div class="tour-footer col-xs-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">7/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="prev-nav">[[[PREV]]]</span>
                    <span class="end-nav">[[[START]]]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="datasource-tour-div">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">[[[Start with configuring data]]]</span>
                <span class="su su-close datasource-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    [[[While working on a report, you can add a new data source or use an existing one available on the server.]]]
                </div>
            </div>
            <div class="tour-footer col-xs-12 no-padding">
                <div class="tour-navigation-div text-button no-padding">
                    <span class="add-datasource-button">[[[CONTINUE]]]</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="backdropFallback" class="tour-backdrop "></div>