@{
    Layout = null;
    ViewBag.MessageBox = false;
}
<html class="report-server">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    @Styles.Render("~/styles/connection-error")
    <title>[[[Database Error]]]</title>
    <style>
        #message {
            font-family: RobotoRegular;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 50px;
        }
        h2 {
            border-bottom: 1px solid #e2e2e2;
            font-size: 30px;
            font-weight: 500;
            padding-bottom: 15px;
        }
        ul li {
            margin: 10px;
        }
    </style>
</head>
<body>
    <div id="message">
        <h2>[[[Error establishing a connection to the Report Server application database.]]]</h2>
        <h3>[[[Possible causes:]]]</h3>
        <ul>
            <li>[[[The database server may be down.]]]</li>
            <li>[[[The login credentials for the database might have been changed.]]]</li>
            <li>[[[The database might have been corrupted.]]]</li>
        </ul>
    </div>
</body>
</html>