@{
    ViewBag.Title = "[[[Internal Server Error]]]";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @Scripts.Render("~/scripts/bootstrapjs")
}

@section MainSection{
    <h2>[[[Internal Server Error]]]</h2>
}