<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  <section name="ReportingExtensions" type="Syncfusion.Reporting.Extensions,  Syncfusion.EJ.ReportViewer" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <appSettings>
    <add key="IsAzureApplication" value="true" />
    <add key="UseProxyServer" value="false" />
    <add key="HostName" value="" />
    <add key="Schema" value="" />
    <add key="Port" value="" />
  </appSettings>
  <ReportingExtensions configSource="bin\ReportExtension.config" />
  <system.web>
    <machineKey 
      validationKey="47DFC81F098CD8F29E34737306233E763A956EC1831600AFB74B2A91138305E23A0D8E138B72BCAC2A305D870A5854B1BFF2FCA934104B9F3657092E26357108" decryptionKey="E2B23DB1B6D5635C5328A382BB69C46DFFF28EB930D59DD3" validation="SHA1" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"  maxRequestLength="1048576" executionTimeout="3600"/>
	 <authentication mode="Forms">
      <forms enableCrossAppRedirects="true" cookieless="AutoDetect" protection="All" name="ReportServerAuth" slidingExpiration="true" />
    </authentication>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>