@{
    ViewBag.Title = @GlobalAppSettings.SystemSettings.OrganizationName + " - [[[Item Moved]]]";
    ViewBag.MessageBox = false;
}
@if (Layout == null)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    @Scripts.Render("~/scripts/bootstrapjs")
}
@section MainSection{
    <div>
        <div class="col-md-12">
            <div class="col-xs-12 text-center response-header">[[[Sorry, we could not find your report.]]]</div>
            <div class="response">[[[Possible reason:]]]<br>[[[The report could have been renamed or moved to another category.]]]</div>
        </div>
    </div>
}