<div class="col-md-12 system-settings-page-container" id="system-settings-admins-container">
    <div id="include-samples-container">
        <div id="include-samples">
            <span class="content content-value">
                [[[Do you want to include sample resources?]]]
            </span>
            <div class="col-lg-12 col-md-12 col-sm-12 include-sample">
                <div class="col-lg-12 col-md-12 col-sm-12 center-include-samples">
                    <div class="col-lg-3 col-md-3 col-sm-3 ">
                        <div>
                            <input type="radio" id="include-yes" class="css-radio" name="include-samples" value="1" checked='checked' />
                            <label for="include-yes" class="pointer"><span class="text">[[[Yes]]]</span></label>
                        </div>
                    </div>
                    <div class="delete-resource col-lg-3 col-md-3 col-sm-3 ">
                        <span id="delete-resource-info" class="dropdown-toggle cursor-type" data-toggle="dropdown"><span class="su su-info" title=""></span></span>
                        <div class="info-detail col-xs-2 dropdown-menu" role="menu">
                            [[[Sample reports can be deleted in a single click after configuration. Refer to the help ]]] <a href="https://help.syncfusion.com/report-platform/report-server/administration/manage-reports/delete-reports#delete-all-sample-reports" target="_blank">[[[link]]]</a>  [[[for more information]]].
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 ">
                        <div>
                            <input type="radio" id="include-no" class="css-radio" name="include-samples" value="0" />
                            <label for="include-no" class="pointer"><span class="text">[[[No]]]</span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="txt-holder btn-holder center-align">
            <input type="button" tabindex="5" onclick="showUserAccountContainer()" id="include-sample-resources" class="proceed-button" value="[[[Proceed]]]" />
        </div>
    </div>
</div>
