<ReportingExtensions>
	<DataExtension>
		<Extension Name="SQL" Assembly="Syncfusion.EJ.ReportViewer" Type="Syncfusion.RDL.Data.SqlDataExtension" IsBuiltInExtension="True"/>
		<Extension Name="SQLCE" Assembly="Syncfusion.EJ.ReportViewer" Type="Syncfusion.RDL.Data.SqlCeDataExtension" IsBuiltInExtension="True"/>
		<Extension Name="OLEDB" Assembly="Syncfusion.EJ.ReportViewer" Type="Syncfusion.RDL.Data.OleDbDataExtension" IsBuiltInExtension="True"/>
		<Extension Name="ODBC" Assembly="Syncfusion.EJ.ReportViewer" Type="Syncfusion.RDL.Data.OdbcDataExtension" IsBuiltInExtension="True"/>
		<Extension Name="Oracle" Assembly="Syncfusion.EJ.ReportViewer" Type="Syncfusion.RDL.Data.OracleDataExtension" IsBuiltInExtension="True"/>
		<Extension Name="XML" Assembly="Syncfusion.EJ.ReportViewer" Type="Syncfusion.RDL.Data.XmlDataExtension" IsBuiltInExtension="True"/>
		<Extension Name="Microsoft SQL Server Analysis Services" Assembly="Syncfusion.Reporting.DataExtensions.SSAS" Type="Syncfusion.Reporting.DataExtensions.SSAS.SSASDataExtension">
			<Properties>
				<Add Key="QueryDesignerEnabled" Value="false"/>
				<Add Key="QueryFilterEnabled" Value="false"/>
				<Add Key="QueryExpressionEnabled" Value="false"/>
				<Add Key="QueryJoinerEnabled" Value="false"/>
				<Add Key="QueryColumnEdit" Value="false"/>
			</Properties>
		</Extension>
		<Extension Name="OData" Assembly="Syncfusion.Reporting.DataExtensions.OData" Type="Syncfusion.Reporting.DataExtensions.OData.ODataExtension">
			<Properties>
				<Add Key="QueryDesignerEnabled" Value="false"/>
				<Add Key="QueryFilterEnabled" Value="false"/>
				<Add Key="QueryExpressionEnabled" Value="false"/>
				<Add Key="QueryJoinerEnabled" Value="false"/>
				<Add Key="QueryColumnEdit" Value="false"/>
			</Properties>
		</Extension>
		<Extension Name="PostgreSQL" Assembly="Syncfusion.Reporting.DataExtensions.PostgreSQL" Type="Syncfusion.Reporting.DataExtensions.PostgreSQL.PostgreSQLDataExtension">
			<Properties>
				<Add Key="QueryDesignerEnabled" Value="false"/>
				<Add Key="QueryFilterEnabled" Value="false"/>
				<Add Key="QueryExpressionEnabled" Value="false"/>
				<Add Key="QueryJoinerEnabled" Value="false"/>
				<Add Key="QueryColumnEdit" Value="false"/>
			</Properties>
		</Extension>
		<Extension Name="WebAPI" Assembly="Syncfusion.Reporting.DataExtensions.WebAPI" Type="Syncfusion.Reporting.DataExtensions.WebAPI.WebAPIExtension">
			<Properties>
			    <Add Key="ServerExclude" Value="true"/>
				<Add Key="QueryDesignerEnabled" Value="true"/>
				<Add Key="QueryFilterEnabled" Value="false"/>
				<Add Key="QueryExpressionEnabled" Value="false"/>
				<Add Key="QueryJoinerEnabled" Value="false"/>
				<Add Key="QueryColumnEdit" Value="false"/>
			</Properties>
		</Extension>
	</DataExtension>
	<ReportItems>
		<ReportItem Name="Barcode" Assembly="Syncfusion.Extensions.BarcodeCRI" Type="Syncfusion.Extensions.BarcodeCRI.BarcodeCustomReportItem" />
	</ReportItems>
</ReportingExtensions>