<ReportingExtensions>
  <DataExtension>
    <Extension Name="SQL" Assembly="Syncfusion.EJ.ReportViewer" Type="Syncfusion.RDL.Data.SQLDataExtension"/>
    <Extension Name="SQLCE" Assembly="Syncfusion.EJ.ReportViewer" Type="Syncfusion.RDL.Data.SQLCEDataExtension"/>
    <Extension Name="OLEDB" Assembly="Syncfusion.EJ.ReportViewer" Type="Syncfusion.RDL.Data.OLEDBDataExtension"/>
    <Extension Name="ODBC" Assembly="Syncfusion.EJ.ReportViewer" Type="Syncfusion.RDL.Data.ODBCDataExtension"/>
    <Extension Name="Oracle" Assembly="Syncfusion.EJ.ReportViewer" Type="Syncfusion.RDL.Data.OracleDataExtension"/>
    <Extension Name="XML" Assembly="Syncfusion.EJ.ReportViewer" Type="Syncfusion.RDL.Data.XML.XMLDataExtension"/>
    <Extension Name="SSAS" Assembly="Syncfusion.Reporting.DataExtensions.SSAS" Type="Syncfusion.Reporting.DataExtensions.SSAS.SSASDataExtension"/>
	  <Extension Name="OData" Assembly="Syncfusion.Reporting.DataExtensions.OData" Type="Syncfusion.Reporting.DataExtensions.OData.ODataExtension"/>
    <Extension Name="PostgreSQL" Assembly="Syncfusion.Reporting.DataExtensions.PostgreSQL" Type="Syncfusion.Reporting.DataExtensions.PostgreSQL.PostgreSQLDataExtension"/>
  </DataExtension>
  <ReportItems>
      <ReportItem Name="Barcode" Assembly="Syncfusion.Extensions.BarcodeCRI" Type="Syncfusion.Extensions.BarcodeCRI.BarcodeCustomReportItem" />
  </ReportItems>
</ReportingExtensions>