 #password-description{
         padding-left:5px;
     }
 #password-detail{
       padding-left:7px;
 }
 #password-in-detail{
       padding-left:7px;
 }
 .su-error {
            cursor: pointer;
            color:#a94442;
            display:none;
            position: absolute;
            right: 30px;
            top: 19px;
        }
 .checkdiv{
        width:0px;
        position:relative;
        float:left;
    }    